.promo-codes {
  margin-bottom: 15px;
  &__promo {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
  }
  &__promo-write{
    flex: 1 1 auto;
    box-sizing: border-box;
    border: 0.5px solid #d8d9cc;
    border-radius: 20px;
    padding: 12px 32px;
    height: 40px;
    background: #ffffff;
    outline: 0;
    outline-offset: 0;
    transition: all 0.3s ease;
    &:active,
    &:hover,
    &:focus {
      border: 0.5px solid #bf9180;
    }
    &:focus{
      // transition: all 0.3s ease;
      &::placeholder{
        opacity: 0;
        transition: all 0.5s ease;
      }
    }
  }
&__promo-add{
  
  position: absolute;
  right: 0;
  width: 65px;
    text-align: center;
    height: 40px;
    background: #d8d9cc;
    border-radius: 20px;
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover {
      background: #bf9180;
    }
}
  &__use {
    display: flex;
    gap: 10px;
  }
  &__use-item {
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
      color: #bf9180;
    }
  }



}
