.sort-item {
  border-bottom: 1px solid #72736e2b;
  padding-bottom: 10px;
  &__title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    text-transform: uppercase;
    text-align: center;
  }
  &__btn {
    z-index: 3;
    color: #232427;
    width: 15px;
    height: 15px;
    padding: 10px 10px;
    cursor: pointer;
    transition: all 0.5s linear;
  }
  &__list {
    display: none;
    &._active {
      display: block;
    }
  }
  &__item {
    display: flex;
    margin-top: 10px;
    padding: 0px 10px 0px 0px;
    align-items: center;
    transition: all 0.5s linear;
    justify-content: space-between;
    &._active {
      opacity: 1;
    }
  }
  &__checkbox {
    margin-right: 10px;
  }
  &__label {
    display: flex;
  }
}
