.item-cart {
  display: flex;
  flex: 1 1 auto;
  gap: 20px;
  &__photo {
    width: 210px;
    padding: 0 10px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
  &__description {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  &__name {
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #3c3f40;
    &:hover,
    &:focus {
      color: #bf9180;
    }
  }
  &__amount {
    margin-top: 8px;
  }
  &__info {
    display: flex;
    gap: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: #212426;
    margin-top: 8px;
  }
  &__color {
  }
  &__size {
  }
  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #3c3f40;
  }
}

@media (max-width: 450px) {
  .item-cart {
    display: flex;
    flex-direction: column;
    &__photo {
      width: auto;
    }
    &__description {
    }
    &__wrapper {
    }
    &__name {
    }
    &__amount {
    }
    &__info {
    }
    &__color {
    }
    &__size {
    }
    &__price {
    }
  }
}
