.shop {
  flex: 1 1 auto;
  max-width: 820px;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  &__buttons{
    position: absolute;
    top: -30px;
    right: 0px;
    display: flex;
    gap: 10px;
  }
  &__button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: all 3s ease;
    cursor: pointer;
    &:hover{
      outline: 1px solid #000;
    }
    &_two{
      background: url(../../../images/two.png)center / 13px no-repeat;
    }
    &_three{
      background: url(../../../images/three.png)center / 18px no-repeat;
    }
  }
  &__empty{
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #3c3f40;
  }
}
@media(max-width:976px){
  .shop{
    max-width: 100%;
  };
}
@media(max-width:460px){
  .shop{
    &__buttons{
      display: none;
    }
  }
}
.two{
  flex: 1 1 48%;
}
.active{
  outline: 1px solid #000;
}