.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

*[data-tooltip]:hover:after {
  position: absolute;
  transform: translate(0%, -100%);
  content: attr(data-tooltip);
  color: #916e62;
  border-radius: 15px;
  border: solid 1px #916e62;
  background-color: #d8d9cc;
  padding: 5px;
}
